version: '3'
services:
  quiz-service-registry:
    image: quiz-service-registry
    ports:
      - "8761:8761"
    networks:
      - ms-network
    restart: on-failure
    environment:
      server.port: 8761
      eureka.instance.hostname: quiz-service-registry
      eureka.client.serviceUrl.defaultZone: http://quiz-service-registry:8761/eureka
  mysql-container-question:
    image: mysql:8.0.34
    ports:
      - "3306:3306"
    networks:
      - ms-network
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=question_db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3306"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    volumes:
      - db-data:/var/lib/mysql
  question-service:
    image: question-service
    ports:
      - 8081:8081
    networks:
      - ms-network
    restart: on-failure
    depends_on:
      mysql-container-question:
        condition: service_healthy
      quiz-service-registry:
        condition: service_started
    environment:
      server.port: 8081
      SPRING_APPLICATION_JSON: '{"eureka":{"client":{"serviceUrl":{"defaultZone":"http://quiz-service-registry:8761/eureka"}}}}'
      eureka.client.enabled: 'true'
      eureka.host: quiz-service-registry
      eureka.instance.preferIpAddress: 'true'
    links:
      - mysql-container-question
      - quiz-service-registry
volumes:
  db-data:
    driver: local
  db-data2:
    driver: local
networks:
  ms-network:
    driver: bridge